.vote-page-view{
    background-color: #FBBD19;

}

.left-bar{
    float: left;
    /* background-color: #fbbd19; */
    /* padding-right: 45px; */
    /* height: 601px; */
    height: auto;
    /* width: 200px; */
    /* margin-top: -30px; */
    padding-top: 30px;
}

.vote-section{
    border-bottom: solid #0c495a;
    padding-bottom: 20px;
    padding-left: 10px;
  
}

.extra-details-section{
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-bottom: solid #0c495a;
    width: 200px;
}

.vote-button{
    padding-left: 25px;
    padding-right: 25px;
    width: 100px;
    text-align: left;
    
}

/* seperation of the two sections */


.right-bar{
    /* background-color: white;
    margin-left: 250px;
    padding-left: 50px;
    margin-right: 20px;
    height: 100%;
    width: 80%; */
    height: 100%;
    width: 70%;
    background-color: white;
    padding-top: 5px;
    padding-right: 25%;
    padding-left: 20px;
    margin-left: 20%;
    min-height: 700px;
    padding-right: 120px;
}

.title{
    border-bottom: solid black;
}

.speaker{
    border-bottom: solid black;
}

.organizers{
    border-bottom: solid black;
}

.related-media{
    border-bottom: solid black;
}

.approve-button{
    height: 50px;
    width: 100px;
    float: right;
}

.deny-button{
    height: 50px;
    width: 100px;
    float: right;
}

.approval-buttons{
    margin-top: 50px;
}