.threeBlockGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.masterTableContainer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.leftTable {
    
   
}

.rightTable {
   
}

.tableRow {
}