footer {
  margin-top: 400px;
  padding: 20px;
  text-align: left;
  background-color: #0C495A;
  font-family: 'Poppins', sans-serif;
  color: #FBBD19;
}

.icon:link {
  color:#FBBD19;
  text-decoration: none;
}

.icon:visited {
  color:#FBBD19;
  text-decoration: none;
}

.icon:hover{
  color:#FBBD19;
  text-decoration: none;
}

.icon:active{
  color:#FBBD19;
  text-decoration: none;
}
