footer {
  text-align: left;
  background-color: #0C495A;
  font-family: 'Poppins', sans-serif;
  color: #FBBD19;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 109px;
}

.icon:link {
  color:#FBBD19;
  text-decoration: none;
}

.icon:visited {
  color:#FBBD19;
  text-decoration: none;
}

.icon:hover{
  color:#FBBD19;
  text-decoration: none;
}

.icon:active{
  color:#FBBD19;
  text-decoration: none;
}
