/* .search-section{
    height: 100%;
    float: left;
    padding-right: 50px;
    padding-left: 20px;
    background-color: green;
    margin-right: 20px;
}

.table-section{
    max-height: 100%;
    width: 100%;
    background-color: coral;
    margin-left: 250px;
    
}

.search-button{
    float: right;
}

.reset-button{
    float: left;
}

.filter-buttons{
    padding-top: 25px;
    padding-bottom: 25px;
} */