.nav {
  /* flex box layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 30px;
  background-color: #FBBD19;
  padding-bottom: 5px;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  display: flex;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Gotham Black';
  color: #0C495A;
  padding-left: 20px;
  padding-right: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #0C495A;
  background-color: #FBBD19;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Proxima Nova';

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

/* 
.navLink:hover {
  background-color: #008183;
} */

.navSignin {
  margin-left: auto;
  margin-right: 20px;
}

img {
  padding: 1px 1px 1px 10px;
}
